/* Webpage Root Colors*/
:root {
    --first: #4ae203ca;
    --second: rgb(255, 255, 255);
    --third: #083b1d;
    --fourth: #001b18a4;
  }
  /* Remove browser-enforced styles & Applies CSS vaules for every element */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    color: var(--third-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  /* HEADER & NAGIVATION SECTION */
  header {
    padding: 20px 35px;
    background-color: var(--third-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
  }
  
header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--second-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header a {
    text-decoration: none;
    color: var(--first-color);
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header nav ul li a:hover {
    background: var(--first-color);
    color: var(--second-color);
    border-radius: 15px;
    text-shadow: none;
  }

  main {
    margin-top: 20px;
    margin-bottom: 45px;
}
  /* Hero Content */
.hero {
    background: rgb(0, 0, 0);
    background-image: url("../images/hero-tree-top.jpg");
    background-size: cover;
    background-position: center;
    min-height: 30vh;
    color: var(--third-color);
    padding: 2% 6%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    padding-left: 10vw;
}

.hero img {
    width: 350px;
    margin: 30px;
    border-radius: 9%;
    align-self: center;
}

.hero img:hover{
    max-width: 250px;
    border-radius: 30%;
    box-shadow: 5px 5px 15px 5px #000000;
}

.hero div {
    flex: 0 0 90%;
}

.hero h2 {
    background-color: var(--second-color);
    color: var(--third-color);
    margin: 0;
    padding: 5px 10px;
    font-size: 3.2rem;
    line-height: 1.2;
    display: inline;
}