/* Webpage Root Colors*/
:root {
    --first: #4ae203ca;
    --second: rgb(255, 255, 255);
    --third: #083b1d;
    --fourth: #001b18a4;
  }
  /* Remove browser-enforced styles & Applies CSS vaules for every element */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    color: var(--first);
    background-color: var(--fourth);
    line-height: 3;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  /* Styled the Navigation and Header Section with flex properties*/
  header {
    padding: 15px;
    background-color: var(--third);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    top: 0;
    position: sticky;
    position: -webkit-sticky;
    z-index: 9999;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
  }
  
  header h1 {
    padding: 5px 2% 5px 10%;
    color: var(--third);
    background-color: var(--second);
    margin: 0;
    font-size: 3.5vw;
    line-height: 1;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    flex-grow: calc(0);
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header a:hover {
    text-decoration: none;
    color: var(--third);
  }
  header nav ul li a {
    background-image: var(--second) 0%, var(--second) 100%;
    color: var(--second);
    margin-right: 10px;
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 3.5vh;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header nav ul li a:hover {
    background: var(--first);
    color: var(--second);
    border-radius: 15px;
    text-shadow: none;
  }

 /* Styled HERO SECTION with flex properties*/
.hero {
  background-image: url("../images/hero-tree-top.jpg") ;
  background-size: cover;
  color: var(--second);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
  min-height: 0%;
  padding: 1.5% 7.5%;
  padding-left: 12vw;
  padding-right: 14vw;
}

.hero img{
  border-radius: 5%;
  width: 300px;
  margin: 25px 0;
  border-style: solid;
}

.hero div {
  flex: 0 1 90%;
}

.hero h2 {
  border-radius: 4%;
  border-style: solid;
  color: var(--third);
  background-color: var(--second);
  font-size: 3.2rem;
  display: inline;
  margin: 0;
  padding: 5px 10px;
  line-height: 1.2;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Styled the MAIN CONTENT SECTION with flex properties*/
main {
    margin-top: 35px;
    margin-bottom: 35px;
  }
.content-wrapper {
max-width: 80%;
margin-left: auto;
margin-right: auto;
margin-top: -40px;
padding-top: 40px; 
}

.content-section {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
flex-direction: auto;
align-items: stretch;
margin: 25px 0;
padding: 10px 0;
}

.content-section h2 {
flex: 0 0 20%;
text-align: right;
font-size: 3.5rem;
line-height: 1;
padding-right: 15px;
border-right: 5px solid var(--first);
}

.content-section > div {
flex: 0 0 75%;
flex-wrap: wrap;
text-align: center;
}

.content-section p {
color: var(--second);
font-size: x-large ;
margin-bottom: 15px;
}